#{extends 'main.html' /}
#{set title:'Streaming' /}

<div class="container"></div>

<script src="@{'/public/javascripts/imageSplit.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript">
    const imagePrefix = "@{Application.loadImg}?";
    const domEntryPoint = '.container';
    const imageHeight = ${height};
    const imageWidth = ${width};
    const actionProceed = #{jsRoute @Application.actionProceed() /};

    function processAction() {
        $.ajax({
            url: actionProceed.url(),
            type: actionProceed.method,
            success: rebuildCarcass
        });
    }

    var rebuildCarcass = function (data) {
        ImageSplit.clear();
        ImageSplit.init(imagePrefix, domEntryPoint, $.parseJSON(data).height, $.parseJSON(data).width);
        ImageSplit.checkFragments();
    };

    $(function () {
        ImageSplit.init(imagePrefix, domEntryPoint, imageHeight, imageWidth);
        ImageSplit.checkFragments()
    });

    $(document).on('scroll', ImageSplit.checkFragments);
    $('body').on('click', processAction);

</script>