#{extends 'main.html' /}
#{set title:'Streaming' /}

<div class="container">
#{list items:fragments, as:'fragment'}
    <div class="image-block-mark" style="height: ${fragment.height}px;">
        <img src='' id='${fragment.params}' style="max-height: ${fragment.height}px;"/>
    </div>
#{/list}
</div>

<script src="@{'/public/javascripts/imageSplit.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript">
    const imagePrefix = "@{Application.loadImg}?";
    const numberOfThreads = ${numberOfThreads};
    const actionProceed = #{jsAction @Application.actionProceed() /};
    const markClassMame = '.image-block-mark';
    ImageSplit.init(imagePrefix, numberOfThreads, markClassMame);

    function processAction() {
        ImageSplit.clear();
        $.post(actionProceed(), ImageSplit.checkFragments());
    }

    $(function () {
        ImageSplit.checkFragments()
    });

    $(document).on('scroll', ImageSplit.checkFragments);
    $('body').on('click', processAction);

</script>